<style>

    #products{
        background-color: lightgray;
        padding: 20px;
        font-family: "Roboto Light";
        border: 1.5px solid black;
        font-size: 20px;

    }
</style>
<div id="products">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

</div>
