<style>
    #header{
        border: 2px solid black;
        padding: 10px;
        font-family: "Arial Black";
        margin: 0 auto;
    }
    .link {
        color: black;
        background-color: lightyellow;
        padding: 5px 10px;
        text-decoration: underline;
        border-radius: 5px;
        border: 1.5px solid black;
        font-family: "Lato";
    }
</style>
<h1 id="header">New product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Back to products", category_products_path(@product.category),class: "link"%>
</div>
